USE [master]
GO
/****** Object:  Database [Banka Simulation]    Script Date: 21.10.2022 15:42:13 ******/
CREATE DATABASE [Banka Simulation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka Simulation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Banka Simulation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka Simulation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Banka Simulation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka Simulation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka Simulation]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 21.10.2022 15:42:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Account_id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Surname] [varchar](20) NULL,
	[ID_Number] [varchar](11) NULL,
	[Telephone_Number] [varchar](20) NULL,
	[Account_Number] [varchar](6) NULL,
	[Password] [varchar](20) NULL,
	[Budget] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
